body{
    background-color: #995bc2;
    color: #181717;
    font-family: Verdana;
    background:linear-gradient(#aa69c9,#e2b3f5);
    margin: 0;
}

input{
    margin-bottom: .5em;
}

textarea{
    margin-bottom: .5em;
}

mobile-id {
    display:inline;
}

desktop-id{
    display:none;
}

nav{
    text-align: center;
    color: #111516;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}

nav a:link {
    color:#000000;
    text-decoration: none;
}

nav a:hover {
    color: #000000;
    text-decoration: none;
}

nav a:visited {
    color: #000000;
    text-decoration: none;
}

nav ul {
    marker: none;
    padding-left: 1em;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
}

nav li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

h1{
    text-align: center;
    padding-top: .5em;
    font-size: 3em;
    letter-spacing: 0.1em;
    color: #111516;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
    font-size: 18px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

table{
    align-self: center;
    border: #3399CC 1px;
    width: 90%;
    border-collapse: collapse;
}

td{
    padding: 5px;
    border: #3399CC 1px;
    text-align: center;
}

th{
    padding: 5px;
    border: #3399CC 1px;
}

.servicesList{
    translate: (40%, 50%);
}

.form-container{
    position: absolute;
    top: 100%;
    left: 50%;
    /*transform: translate(-50%, -100%); blocked this out to see how the below code changes it*/
}

/* Logo styles */
.logo {
    width: 150px;
  }

/*added this last to try and move the contact form*/
form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 60%;
    display: grid;
    gap: 1em;
    columns: 2, width(10em, 1fr);
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*should center the slides*/
.mySlides{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250%;
}

.w3-buttonw3-display-left{
    resize: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.w3-buttonw3-display-right{
    resize: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button{
    width: 100px;
}

.submit_button{
    grid-column: 2;
    width: 9em;
}

.text{
    text-align: left;
}

footer{
    font-size: .70em;
    text-align: center;
    font-style: italic;
    padding: 1em;
    background-color: #FFFFFF;
}